$color-text: #fff;
$color-main: #fed136;
$color-sub: #777;
// Global

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;    
}

button {
    width: 240px;
    height: 65px;
    border-radius: 3px;
    border: none;
    background-color: $color-main;
    color: $color-text;
    font-size: 18px;
    text-transform: uppercase;
}

section {
    padding-bottom: 80px;
}

.section-title {
    padding-top: 120px;
    margin-bottom: 80px;
    text-align: center;    
}

.section-title h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title p {
    color: $color-sub;
    font-style: italic;
    margin-top: 20px;
}




// Header

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/bg-img.png);
    background-size: cover;
    height: 90vh;
}

.header .container {
    height: 100%;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 26px;
    margin: 0;
    font-style: italic;
}

.logo a {
    color: $color-main;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    padding-left: 40px;
    text-transform: uppercase;
}

.nav ul li a {
    color: $color-text;
}

.header-inner {
    text-align: center;
    margin-top: 20%;
    color: $color-text;
}

.header-inner h3 {
    font-size: 40px;
    font-style: italic;
}

.header-inner h1 {
    font-size: 75px;
    padding-top: 50px;
    text-transform: uppercase;
}

.header-inner button {
    margin-top: 60px;
}

// services
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.card-icon {
    position: relative;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 3px solid $color-main;
}

.card-icon i {
    position: absolute;
    font-size: 40px;
    color: $color-main;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card-body {
    margin-top: 30px;
    text-align: center;
}

.card-body h3 {
    font-size: 18px;
    font-weight: 700;
}

.card-body p {
    font-size: 14px;
    margin: 15px auto;
    color: $color-sub;
}

// portfolio

.portfolio {
    background-color: #f7f7f7;
}

.portfolio-item {
    margin-bottom: 50px;
}

.portfolio-item-img {
    height: 300px;
}

.portfolio-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.portfolio-item-body {
    background-color: $color-text;
    text-align: center;
    padding: 30px;
}

.portfolio-item-body h5 {
    font-size: 18px;
    font-weight: 700;
}

.portfolio-item-body p {
    font-size: 14px;
    color: #737373;
}

// footer

footer {
    display: flex;
    margin: 40px 0;
    align-items: center;
}

footer p {
    flex: 1;   
}

footer ul {
    flex: 2;
    list-style: none;
    display: flex;
    
}

footer ul li {
    margin-left: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #222222;
}

footer ul li a{
    font-size: 0px;
    
}

footer ul li a i{
    font-size: 16px;
    position: absolute;
    color: $color-text;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
