$color-text: #fff;
$color-main: #fed136;
// Global

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;    
}

// Header

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/bg-img.png);
    background-size: cover;
    height: 90vh;
}

.header .container {
    height: 100%;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 26px;
    margin: 0;
    font-style: italic;
}

.logo a {
    color: $color-main;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    padding-left: 40px;
    text-transform: uppercase;
}

.nav ul li a {
    color: $color-text;
}

.header-inner {
    text-align: center;
    margin-top: 20%;
    color: $color-text;
}

.header-inner h3 {
    font-size: 40px;
    font-style: italic;
}

.header-inner h1 {
    font-size: 75px;
    padding-top: 50px;
    text-transform: uppercase;
}

.header-inner button {
    margin-top: 60px;
    width: 240px;
    height: 65px;
    border-radius: 3px;
    border: none;
    background-color: $color-main;
    color: $color-text;
    font-size: 18px;
    text-transform: uppercase;
}




